

# Style:

# Input {
#     background: $surface;
#     border: inner $surface;

#     &:focus {
#         background: $foreground 15%;
#         border: inner $foreground 15%;
#     }
# }

DirectoryBrowser {

    background: $surface;
    color: $foreground;
    height: auto;
    max-height: 100%;

    &:focus {
        background-tint: $foreground 5%;
        
        .cursor {
            background: $accent-darken-3;
            color: $block-cursor-foreground;
            text-style: $block-cursor-text-style;
        }
    }

    .cursor {
        background: $background-lighten-2;
    }
    
    .highlight-directory {
        text-style: bold;
    }
    .highlight-file {
        text-style: none;
    }
    .highlight-hidden {
        text-style: dim;
    }
    .highlight-executable {
        color: #88FF88;
    }
    .highlight-selected {
        color: $primary-lighten-3;
        background: $primary-darken-1;
    }
    .highlight-broken-symlink {
        color: #FF8888;
    }
}


FilterWidget {
    Static {
        background: $error-darken-2;
    }

    Input {
        background: $error;
        padding-left: 1;
    }
    Button {
        background: $error-darken-2;
    }

}

# needs to be cleaned up

QuitScreen {
    align: center middle;
    background: $background 0%;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

Button {
    width: 100%;
}

Button.-style-flat:focus {
    color: $text;
    background: $primary;
    border: block $primary;
    text-style: none;
}
Button.-style-flat.-primary:focus {
    color: $text;
    background: $primary;
    border: block $primary;
    text-style: none;
}
Button.-style-flat.-success:focus {
    color: $text;
    background: $success;
    border: block $success;
    text-style: none;
}
Button.-style-flat.-warning:focus {
    color: $text;
    background: $warning;
    border: block $warning;
    text-style: none;
}
Button.-style-flat.-error:focus {
    color: $text;
    background: $error;
    border: block $error;
    text-style: none;
}

Button.-style-flat:hover {
    color: $text;
    background: $primary-lighten-2;
    border: block $primary-lighten-2;
}
Button.-style-flat.-primary:hover {
    color: $text;
    background: $primary-lighten-2;
    border: block $primary-lighten-2;
}
Button.-style-flat.-success:hover {
    color: $text;
    background: $success-lighten-2;
    border: block $success-lighten-2;
}
Button.-style-flat.-warning:hover {
    color: $text;
    background: $warning-lighten-2;
    border: block $warning-lighten-2;
}
Button.-style-flat.-error:hover {
    color: $text;
    background: $error-lighten-2;
    border: block $error-lighten-2;
}



#pane-left {
    border: round grey;
    height: 100%;

    &:focus {
        border: round $accent;
    }
}

#pane-right {
    border: round grey;
    height: 100%;

    &:focus {
        border: round $accent;
    }
}

#pane-left.-sync-active,
#pane-right.-sync-active {
    border: round $success;

    &:focus {
        border: round $success-lighten-2;
    }
}

#command-line-container {
    height: 1;
}
