

# Style:

DirectoryBrowser {
    .highlight-directory {
        text-style: bold;
    }
    .highlight-file {
        text-style: none;
    }
    .highlight-hidden {
        text-style: dim;
    }
    .highlight-executable {
        color: #88FF88;
    }
}




# needs to be cleaned up

#command-line-input {
    height: 1;
    border: none;
    width: 100%;
    padding: 0;
    background: $panel;
}

#command-line-prompt {
    width: 5;
    dock: left;
}

#pane-left {
    border: round $accent;
    height: 100%;
}

#pane-right {
    border: round $accent;
    height: 100%;
}

#command-line-container {
    height: 1;
}
